.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    background-color: #fff;
    padding: 40px; /* Increase padding for a larger modal */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Increase width for a larger modal */
}

.input-group {
    margin-bottom: 20px; /* Add margin between input groups */
}

.input-group label {
    display: block;
    margin-bottom: 10px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%; /* Make the login button full-width */
    padding: 10px; /* Add padding to the login button */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

/* Center the login button text */
button[type="submit"] {
    text-align: center;
}
